<div class="flex flex-row justify-center">
  <nz-card class="w-[240px] cursor-pointer transition-[0.3s] hover:border-cyan-600" [nzCover]="coverTemplate"
           [nzActions]="[actionSetting]">
    <nz-card-meta [nzTitle]="product.name" [nzDescription]="product.description">
    </nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <div class="flex flex-row justify-center h-[200px]">
      <div class="absolute top-2 right-2 flex items-center gap-2">
        <button nz-button nzSize="small" nz-tooltip nzTooltipTitle="View detail" nzTooltipPlacement="top" nzType="default" (click)="isVisible = true">
          <span class="text-sm cursor-pointer" nz-icon nzType="eye" nzTheme="outline"></span>
        </button>
        <button nz-button nzSize="small" nz-tooltip nzTooltipTitle="Add to cart" nzTooltipPlacement="top" nzType="default" (click)="addToCart()">
          <span class="text-sm cursor-pointer" nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        </button>
      </div>
      <img alt="example" [src]="product.image_url"/>
    </div>
  </ng-template>
  <ng-template #actionSetting>
    <div class="action-wrapper">
      <span nz-icon nzType="eye" nzTheme="outline"></span>
    </div>
  </ng-template>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="product.name" [nzFooter]="modalFooter">
  <ng-container *nzModalContent>
    <div class="max-h-[500px] overflow-y-auto">
      <table class="w-full" cellpadding="5">
        <tr>
          <td class="font-medium">Image</td>
          <td><img class="h-[100px] w-auto" [src]="product.image_url" alt="Product image"></td>
        </tr>
        <tr>
          <td class="font-medium">Tagline</td>
          <td>{{ product.tag_line }}</td>
        </tr>
        <tr>
          <td class="font-medium">First brewed</td>
          <td>{{ product.first_brewed }}</td>
        </tr>
        <tr>
          <td class="font-medium">Description</td>
          <td>{{ product.description }}</td>
        </tr>
        <tr>
          <td class="font-medium">Price</td>
          <td>{{ product.price | currency: 'USD' }}</td>
        </tr>
        <tr>
          <td class="font-medium">ABV</td>
          <td>{{ product.abv }}</td>
        </tr>
        <tr>
          <td class="font-medium">IBU</td>
          <td>{{ product.ibu }}</td>
        </tr>
        <tr>
          <td class="font-medium">Target FG</td>
          <td>{{ product.target_fg }}</td>
        </tr>
        <tr>
          <td class="font-medium">Target OG</td>
          <td>{{ product.target_og }}</td>
        </tr>
        <tr>
          <td class="font-medium">EBC</td>
          <td>{{ product.ebc }}</td>
        </tr>
        <tr>
          <td class="font-medium">SRM</td>
          <td>{{ product.srm }}</td>
        </tr>
        <tr>
          <td class="font-medium">PH</td>
          <td>{{ product.ph }}</td>
        </tr>
        <tr>
          <td class="font-medium">Attenuation level</td>
          <td>{{ product.attenuation_level }}</td>
        </tr>
        <tr>
          <td class="font-medium">Volume</td>
          <td>
            <p>value: {{product.volume.value }}</p>
            <p>unit: {{product.volume.unit}}</p>
          </td>
        </tr>
        <tr>
          <td class="font-medium">Boil volume</td>
          <td>
            <p>value: {{product.boil_volume.value }}</p>
            <p>unit: {{product.boil_volume.unit}}</p>
          </td>
        </tr>
        <tr>
          <td class="font-medium">Food pairing</td>
          <td>
            <ng-container *ngIf="product?.food_pairing">
              <p *ngFor="let pairing of product.food_pairing">
                {{ pairing }}
              </p>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="font-medium">Brewers tips</td>
          <td>{{ product.brewers_tips }}</td>
        </tr>
        <tr>
          <td class="font-medium">Contributed by</td>
          <td>{{ product.contributed_by }}</td>
        </tr>
      </table>
    </div>
  </ng-container>
</nz-modal>

<ng-template #modalFooter>
  <button nz-button nzType="primary" (click)="isVisible = false">Close</button>
</ng-template>
