<div class="container mx-auto my-5">
  <form class="grid grid-cols-5 gap-10" [formGroup]="searchParams">
    <div>
      <label class="block mb-2">Name</label>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" formControlName="name" nz-input placeholder="Enter name to search"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

    <div>
      <label class="block mb-2">Description</label>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" formControlName="description" nz-input placeholder="Enter description to search"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

    <div>
      <label class="block mb-2">Tagline</label>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" formControlName="tag_line" nz-input placeholder="Enter tagline to search"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

    <div>
      <label class="block mb-2">Food pairing</label>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" formControlName="food_pairing" nz-input placeholder="Enter food pairing to search"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

    <div>
      <label class="block mb-2">Price</label>
      <nz-slider nzRange [nzMin]="0" [nzMax]="20" [nzStep]="0.01" [(ngModel)]="priceRange"
                 [ngModelOptions]="{ standalone: true }"
                 (ngModelChange)="changePrice($event)"></nz-slider>
      <label>Min price: {{ priceRange[0] }} $</label>
      <br/>
      <label>Max price: {{ priceRange[1] }} $</label>
    </div>
  </form>
  <div class="flex justify-end">
    <nz-badge [nzCount]="cartItems.length" nz-tooltip nzTooltipTitle="View your cart" nzTooltipPlacement="top">
      <span class="text-2xl cursor-pointer" nz-icon nzType="shopping-cart" nzTheme="outline"
            (click)="openCart()"></span>
    </nz-badge>
  </div>
  <div class="grid grid-cols-5 gap-4 mt-5 relative">
    <nz-spin *ngIf="loading" [nzSpinning]="loading" nzSize="large" nzSimple [class.bg-[#4a4a4a14]]="loading"
             class="absolute flex items-center justify-center z-10 w-full h-full"></nz-spin>
    <ng-container *ngFor="let product of products">
      <app-product [product]="product" (addProductToCart)="addProductToCart($event)">
      </app-product>
    </ng-container>
  </div>

  <div class="my-5 flex justify-center">
    <nz-pagination
      [nzPageIndex]="offset"
      [nzTotal]="totalElements"
      nzShowSizeChanger
      [nzPageSize]="pageInfo.size"
      (nzPageIndexChange)="changePageIndex($event)"
      (nzPageSizeChange)="changePageSize($event)">
    </nz-pagination>
  </div>
</div>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="cartVisible"
  nzPlacement="right"
  nzTitle="Your cart"
  [nzFooter]="footerTpl"
  (nzOnClose)="closeCart()"
>
  <ng-container *nzDrawerContent>
    <div [class.pb-3]="!last" [class.border-b-0]="last" class="flex items-center justify-between my-3 border-b-1 border-b border-b-cyan-300" *ngFor="let item of cartItems; let last=last">
      <div class="flex">
        <div class="w-[80px] mr-3 flex justify-center">
          <img class="h-[100px] w-[auto]" [src]="item.product.image_url" alt="Product image"/>
        </div>
        <div class="flex flex-col justify-between">
          <p class="font-medium text-[16px]">{{ item.product.name }}</p>
          <div class="flex items-center gap-x-2">
            <button nz-button nzType="default" nzSize="small" [disabled]="item.quantity === 1"
                    (click)="decreaseQuantity(item)">
              <span nz-icon class="text-sm" nzType="minus" nzTheme="outline"></span>
            </button>
            {{ item.quantity }}
            <button nz-button nzType="default" nzSize="small" (click)="addQuantity(item)">
              <span nz-icon class="text-sm" nzType="plus" nzTheme="outline"></span>
            </button>
          </div>
          <p class="font-medium text-[14px]">{{ item.total_price | currency: 'USD'}}</p>
        </div>
      </div>
      <span nz-tooltip nzTooltipTitle="Remove product" nz-icon nzType="delete" nzTheme="outline" class="text-red-600 cursor-pointer" (click)="removeItem(item)"></span>
    </div>
  </ng-container>
  <ng-template #footerTpl>
    <p class="font-medium text-[16px]">Total price: {{ totalPriceInCart | currency: 'USD' }}</p>
  </ng-template>
</nz-drawer>
